@model Form
@{
    Layout = null;
}


    <div class="reply-area">
        <h3>LEAVE A message</h3>
        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
        <form id="contact-form"  asp-action="Form" method="post">
            <div class="row">
                <div class="col-md-12">
                    <p>Name</p>
                    <input name="Name">
                </div>
                <div class="col-md-12">
                    <p>Email</p>
                    <input name="Email">
                </div>
                <div class="col-md-12">
                    <p>Subject</p>
                    <input name="Subject">
                    <p>Massage</p>
                    <textarea name="Massage" cols="15" rows="10"></textarea>
                </div>
            </div>
            <button class="reply-btn" href="#" data-text="send"><span>send message</span></button>
        </form>
        <p class="text-success" style="display:none">Your Massage Sent</p>
    </div>
