@model ShortInfo
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="table-responsive pt-3">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        IsDeleted
                    </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            @Model.Title
                        </td>
                        <td>
                            @Model.Description
                        </td>
                        <td>
                            @Model.IsDeleted
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>


