@model Teacher
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create New Course</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="FullName"></label>
                        <input class="form-control" asp-for="FullName">
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profession"></label>
                        <input class="form-control" asp-for="Profession">
                        <span class="text-danger" asp-validation-for="Profession"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Degree"></label>
                        <input class="form-control" asp-for="Degree">
                        <span class="text-danger" asp-validation-for="Degree"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Experience"></label>
                        <input class="form-control" asp-for="Experience">
                        <span class="text-danger" asp-validation-for="Experience"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hobbies"></label>
                        <input class="form-control" asp-for="Hobbies">
                        <span class="text-danger" asp-validation-for="Hobbies"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Faculty"></label>
                        <input class="form-control" asp-for="Faculty">
                        <span class="text-danger" asp-validation-for="Faculty"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactInfoMail"></label>
                        <input class="form-control" asp-for="ContactInfoMail">
                        <span class="text-danger" asp-validation-for="ContactInfoMail"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactInfoSkype"></label>
                        <input class="form-control" asp-for="ContactInfoSkype">
                        <span class="text-danger" asp-validation-for="ContactInfoSkype"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactInfoNumber"></label>
                        <input class="form-control" asp-for="ContactInfoNumber">
                        <span class="text-danger" asp-validation-for="ContactInfoNumber"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OwnFacebook"></label>
                        <input class="form-control" asp-for="OwnFacebook">
                        <span class="text-danger" asp-validation-for="OwnFacebook"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OwnPinterest"></label>
                        <input class="form-control" asp-for="OwnPinterest">
                        <span class="text-danger" asp-validation-for="OwnPinterest"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OwnVimeo"></label>
                        <input class="form-control" asp-for="OwnVimeo">
                        <span class="text-danger" asp-validation-for="OwnVimeo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OwnTwitter"></label>
                        <input class="form-control" asp-for="OwnTwitter">
                        <span class="text-danger" asp-validation-for="OwnTwitter"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="About"></label>
                        <textarea class="form-control" asp-for="About" rows="4"></textarea>
                        <span class="text-danger" asp-validation-for="About"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="File"></label>
                        <input class="form-control" asp-for="File" accept="image/*">
                        <span class="text-danger" asp-validation-for="File"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a class="btn btn-light" asp-controller="Dashboard" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
}



