@model Notice
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Notice</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="VideoLink"></label>
                        <input class="form-control" asp-for="VideoLink">
                        <span class="text-danger" asp-validation-for="VideoLink"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NoticeDate"></label>
                        <input class="form-control" asp-for="NoticeDate">
                        <span class="text-danger" asp-validation-for="NoticeDate"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NoticeText"></label>
                        <textarea rows="4" class="form-control" asp-for="NoticeText"></textarea>
                        <span class="text-danger" asp-validation-for="NoticeText"></span>
                    </div>
                    <button type="submit" class="btn btn-warning mr-2">Update</button>
                    <a class="btn btn-light" asp-controller="Dashboard" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
}

